<div class="side_bar_header">
  <div class="header_name">
    <%# <a href="#">Tom</a> %>
    <%= link_to current_user.name , edit_user_path(current_user) %>
  </div>
  <div class="create_room">
    <%# <a href="new">チャットを作成する</a> %>
    <%= link_to 'チャットを作成する' , new_room_path %>
  </div>
</div>
<div class="rooms">
<%# 現在ログインしているユーザーのroomsテーブルの情報に対して、以下処理を実施 %>
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room_name">
        <%# <a href="#"><%= room.name %></a> 
        <%= link_to room.name, room_messages_path(room)%>
      </div>
    </div>
  <% end %>
</div>
